<!-- src/app/about/about.component.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" type="text/css" href="about.component.css">
</head>
<body>

<div class="about-container">
    <div class="about-content">
        <header>
            <section class="ftco-section">
              <h1>About Us</h1>
              
              <h3>
                <p>Find the best travel deals and book Bus, Train, Car, flights with our intuitive booking system.</p>
              </h3>
              
            </section>
        
            
          </header>
    </div>
</div>

</body>
</html>
