<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Website</title>
  <link rel="stylesheet" type="text/css" href="welcome.component.css">

</head>

<body>
  <nav>
    <a href="#">Home</a>
    <a href="admin/login">Admin Login</a>
    <a href="about">About</a>
    <a href="/user/login">User Login</a><br>
  </nav>
  <header>
    <section class="ftco-section">
      <h1>Travel Booking System</h1>
      <h2>Discover Unforgettable Journeys</h2>
      <h3>
        <p>Find the best travel deals and book Bus, Train, Car, flights with our intuitive booking system.</p>
      </h3>
      
    </section>

    
  </header>
</body>

</html>
